body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 150px;
	font-size: 5rem;
}

.main {
	width: 80%;
	height: 50px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 5px;
}

.section {
	width: 400px;
	margin: auto;
}

#input-url {
	width: 400px;
}

.article {
	background-color: rgb(160, 160, 160);
	text-align: center;
}

.div-article-id {
	height: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	font-weight: 900;
}

.div-article-img {
	width: 95%;
	margin: 5px;
}