* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

main {
	width: 85%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	padding-bottom: 70px;
}