/* 색상 코드는 구글에서 "컬러 피커"를 검색하면 쉽게 찾아볼 수 있습니다. */
.h2-name {
	color: aqua; /* 색상명으로 지정합니다. */
}
.h2-hex {
	color: #00ff1e; /* 16진수로 색깔을 지정합니다. */
}
.h2-rgb {
	color: rgb(194, 159, 159); /* rgb로 색깔을 지정합니다. */
}
.h2-rgba {
	color: rgba(194, 159, 159, 0.1); /* rgba로 색깔을 지정합니다. */
}
.h2-hsla {
	color: hsl(258, 100%, 50%); /* hsla로 색깔을 지정합니다. */
}