/*
	박스모델의 기본요소 (웹 브라우저 > 개발자도구 > Computed 탭에서 박스모델을 확인할 수 있습니다.)
		-content : HTML 요소의 실질적인 내용입니다.
		-padding : 내부 여백입니다.
		-border : 테두리입니다.
		-margin : 외부 여백입니다.

	Box Sizing 속성은 HTML요소의 너비와 높이를 계산하는 방법을 지정합니다.
		border-box
			테두리와 안쪽 여백도 요소의 크기(width, height)로 고려합니다.
			width를 100px로 설정하고 테두리와 안쪽 여백을 추가하면,
			콘텐츠 영역이 줄어들어 총 너비 100px을 유지합니다.
			대부분의 경우 이 편이 크기를 조절할 때 쉽습니다.

		content-box
			기본 CSS 박스 크기 결정법 입니다.
			요소의 width를 100px로 설정하면 콘텐츠 영역이 100px 너비를 가지고,
			테두리와 안쪽 여백은 별도로 설정 됩니다.
*/
.div-1 {
	width: 150px;
	height: 150px;
	border: 5px solid #000;
	padding: 20px;
	margin: 10px;
	background-color: antiquewhite;
	box-sizing: border-box;
}
.div-2 {
	width: 150px;
	height: 150px;
	border: 5px solid #000;
	padding: 20px;
	margin: 10px;
	background-color: antiquewhite;
	box-sizing: content-box;
}

/* 
	box-shadow : 박스 모델에 그림자 효과를 줍니다.
		속성값 : 수평거리, 수직거리, 흐림정도, 번짐정도, 색상, (inset)
			참조) inset은 설정시 안쪽으로 그림자가 생깁니다.
*/
.div-3 {
	width: 150px;
	height: 150px;
	border: 5px solid #000;
	padding: 20px;
	margin: 10px;
	box-shadow: 10px 10px 10px 10px #11fb00 inset;
}