.none {
	display: none;
}

.block {
	display: block;
}

span {
	border: 1px solid #000;
	width: 150px;
}

.inline {
	border: 1px solid #000;
	display: inline;
}

div {
	border: 5px solid #000;
	padding: 10px;
}

.inline-block {
	border: 1px solid #000;
	width: 150px;
	display: inline-block;
}