/* 
	flexbox 구성 :
	상위 부모 요소인 flex container와 배치하고 싶은 HTML 요소인 flex item로 구성됩니다.
	부모 요소에 "display: flex" 또는 "display: inline-flex"속성을 지정하여 사용합니다.

	** 속성 **
	flex-direction : 주축과 방향을 지정하는 속성입니다.
		-row : 주축을 가로로 지정하고, 왼쪽에서 오른쪽으로 배치합니다.
		-row-reverse : 주축을 가로로 지정하고, 오른쪽에서 왼쪽으로 배치합니다.
		-column : 주축을 세로로 지정하고, 위에서 아래로 배치합니다.
		-column-reverse : 주축을 세로로 지정하고, 아래에서 위로 배치합니다.

	flex-wrap : 항목의 줄을 바꿀지 여부를 지정합니다.
		-nowrap : 한줄에 표시합니다.
		-wrap : 여러줄에 표시합니다.
		-wrap-reverse : 여러줄에 표시하고, 아래부터 배치합니다.

	flex-flow : flex-direction과 flex-wrap을 한번에 지정합니다.
		예) flex-flow: row wrap;

	justify-content : 주축 방향을 기준으로 정렬합니다.
		-flex-start : 주축의 시작점에 맞추어 배치합니다.
		-flex-end : 주축의 끝점에 맞추어 배치합니다.
		-center : 주축의 중앙에 맞춰 배치합니다.
		-space-between : 주축의 시작점에 첫번째 항목, 끝점에 마지막 항목을 배치 후 나머지를 같은 간격으로 배치합니다.
		-space-around : 주축에 같은 간격으로 배치합니다.
*/

.container {
	background-color: gray;
	margin: 10px;
	width: 60vw;
	height: 60vh;
	display: flex;
	/* flex-direction: row;
	flex-wrap: wrap; */
	flex-flow: row wrap;
	/* justify-content: flex-start; */
	align-items: stretch;
}
.item {
	width: 15vw;
	height: 15vh;
	background-color: skyblue;
	border: 1px solid #000;
}
.item2 {
	font-size: 30px;
}