* {
	margin: 0;
	padding: 0;
}

.nav_ul {
	margin: 50px auto;
	list-style: none;
	padding: 0;
	width: 600px;
	height: 40px;
	background: #c5c5c5;
	box-shadow: 1px 5px 5px 5px #4d4d4d;
}
.nav_ul li {
	float: left;
	border-right: 1px solid #3cff00;
	background: #c5c5c5;
	width: 100px;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
}
a {
	color: black;
	text-decoration: none;
	display:block;
	height: 100%;
	line-height: 40px;
}
/* 마우스 올렸을 때 마지막 자식요소 빼고 나머지 설정 */
.nav_ul li:not(:last-child) a:hover {
	background-color:#555;
}
/* 마지막 자식요소 오른쪽 외곽선 없애기 */
.nav_ul li:last-child {
	border-right:none; 
}
/* 마우스 올렸을 때 마지막 자식요소에만 설정 */
.nav_ul li:last-child a:hover { 
	background-color: red;
	color:#fff;
}



.div1 {
	box-sizing: border-box;
	width: 200px;
	border: 10px solid #000;
	padding: 5px;
	margin: 10px;
}
.div2 {
	width: 200px;
	border: 10px solid #000;
	padding: 5px;
	margin: 10px;
}