.nav {
	background-color: #2c3e50;
	padding: 15px;
	border-radius: 10px;
}
.nav a {
color: #fff;
padding: 10px;
text-decoration: none;
}

.bg_black {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	right: 0;
}

.bg_white {
	width: 80%;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin: 20px auto;
}


/* 모달 등장 애니매이션 */
.modalAni-enter-from {
	transform: translateX(-500px);
}
.modalAni-enter-active {
	transition: all 2s;
}
.modalAni-enter-to {
	transform: translateX(0px);
}
/* 모달 퇴장 애니매이션 */
.modalAni-leave-from {
	transform: translateX(0px);
}
.modalAni-leave-active {
	transition: all 2s;
}
.modalAni-leave-to {
	transform: translateX(500px);
}