* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-image: url(../../doc/cat.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 140px ;
}
header {
	width: 100%;
	background-color: #000;
	padding: 2rem;
}
header>h1 {
	margin: 0;
	color: #ffffff;
	text-align: center;
	font-size: 4rem;
}
table {
	border-collapse: collapse;
	width: 700px;
	height: 500px;
	margin: 50px auto;
	font-size: 1.5rem;
}
td {
	border-bottom: 1px solid #000;
	text-align: center;
}
.table-title {
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}
section {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #000;
	color: #ffffff;
}